html {
  scroll-behavior: smooth;
}

body {
  font-family: system-ui, sans-serif;
  line-height: 1.6;
  padding: 2rem;
  color: #212121;
}

h1, h2, h3, h4, h5, h6, p {
  margin:0;
}

.plan {
  display: flex;
  width: 744px;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border-radius: 6px;
  background: #FAFAFA;
  margin-bottom:1.5rem;
}

.plan .title {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.plan .term {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 0px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.plan h3 {
  font-size:16px;
  line-height: 24px;
  margin: 0px;
}

.plan .subtitle {
  font-size:12px;
  line-height:16px;
  color: #545454;
  margin: 0px;
}

.plan .lefttopay {
  display: flex;
}

.plan .lefttopay h4 {
  margin: 0px;
}

.plan .data {
  width:100%;
}
  
.plan .data div {
  border-bottom: 1px solid #D3D3D3;
  display: flex;
  justify-content: space-between;
  padding: 8px 0px;
}

.plan .data span {
  display:flex;
}

.plan .data sup {
  font-size:10px;
  font-weight:normal;
}

.plan .data div h4, .plan .data div p {
  margin: 0px;
  font-size: 14px;
  font-weight: normal;
  color: #545454;
}

.jump-link {
  text-decoration: none;
  margin-left: 0.25rem;
  cursor: pointer;
  font-size:10px;
  font-weight:normal;
  color:#545454;
}

.jump-link:hover {
  text-decoration: underline;
}

ol#footnote {
  padding: 0.5rem 1.5rem;
  transition: background-color 1s ease;
  background: #fff;
  color:#545454;
  font-size:12px;
  line-height:16px;
  border-radius:6px;
  margin-bottom:1.5rem;
}

ol#footnote.highlight {
  background-color: rgba(254, 243, 249, 0.9);
}

li {
  margin: 0.5rem 0rem;
  font-weight: normal;
}

li.focused {
  font-weight: bold;
  color:#212121;
}

button.action-btn {
  margin-left: 0.5rem;
  padding: 0.5rem 0.75rem;
  font-size: 0.9rem;
  background:unset;
  color:#545454;
  text-decoration-line:underline;
  text-decoration-style:solid;
  text-decoration-thickness:1px;
  border:unset;
  cursor:pointer;
  padding:0;
  text-underline-offset:4px;
  position:relative;
  font-size:12px;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
  ol#footnote {
    transition: none;
  }
}
